<div id="app">
  <button v-on:click="toggleStartTimeSort()">Toggle sort by start time</button>
  <p>Search by name: <input v-model="nameSearch" list="names"></p>
  <datalist id="names">
  <option v-for="meeting in meetings">{{ meeting.name }}</option>
  </datalist>
  <h1><a href="/meetings">All meetings</a></h1>
  <div v-for="meeting in modifiedMeetings" v-if="isValidMeeting(meeting)">
    <h3><a v-bind:href="'/meetings/' +  meeting.id">{{ meeting.name }}</a></h3>
    <div v-for="tag in meeting.tags">
      <a v-bind:href="'/meetings?tag=' + tag.name">{{ tag.name }}</a>
    </div>
    <p>Address: {{ meeting.address }}</p>
    <p>Start time: {{ meeting.startTime }}</p>
    <p>End time: {{ meeting.endTime }}</p>
  </div>
</div>

<hr>
